app-countries-chart {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center
}

app-china-chart {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center
}

app-vietnam-chart {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center
}

@media only screen and (max-width: 768px) {

    app-countries-chart {
        width: 100%;
        height: 20em;
    }
    
    app-china-chart {
        width: 100%;
        height: 20em;
    }
    
    app-vietnam-chart {
        width: 100%;
        height: 20em;
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }

    h3 {
        font-size: 16px;
        text-align: center;
    }
}
